/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: text;
  font: normal 12px/180% "SimSun";
  -webkit-overflow-scrolling: touch;
  position: relative;
}
.owo {
  width: 100%;
  height: 100%;
}
html {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin: 0;
  padding: 0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

@font-face {
  font-family: 'iconfont';  /* project id 2159118 */
  src: url('//at.alicdn.com/t/font_2159118_w4mvulqdpvg.eot');
  src: url('//at.alicdn.com/t/font_2159118_w4mvulqdpvg.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2159118_w4mvulqdpvg.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2159118_w4mvulqdpvg.woff') format('woff'),
  url('//at.alicdn.com/t/font_2159118_w4mvulqdpvg.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2159118_w4mvulqdpvg.svg#iconfont') format('svg');
}

.icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  user-select: none;
}

.so {
  position: absolute;
}

.h30 {
  height: 30px;
}